.item {
  cursor: pointer;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc((var(--main-width) - 2 * 4px - 2 * 20px) / 3);

  font-size: 24px;
  color: #fff;

  background-size: cover;
}

.gallery {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 30px;
  height: 30px;
}
