.item {
  cursor: pointer;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc((var(--main-width) - 2 * 4px - 2 * 20px) / 3);

  font-size: 24px;
  color: #fff;
  text-align: center;

  background-position: center;
  background-size: cover;
}

.gallery {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 30px;
  height: 30px;
}

@media (width < 768px) {
  .item {
    height: calc((var(--main-width) - 2 * 4px) / 3);
    font-size: 14px;
  }

  .gallery {
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
}
