.main {
  grid-area: main;
  width: var(--main-width);
  margin: 0 auto;
  padding: 0 20px;
}

.list__wrapper {
  width: 100%;
  padding-top: 32px;
  border-top: 1px solid rgb(var(--border-color));
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

@media (width < 768px) {
  .main {
    height: calc(100vh - 70px - 7vh);
    margin: 0;
    padding: 0;
    border-top: 1px solid rgb(var(--border-color));
  }

  .list__wrapper {
    overflow-y: scroll;
    height: 100%;
    padding: 10px 0;
  }

  .list {
    padding: 0;
    border: none;
  }
}
