.main {
  grid-area: main;
  width: var(--main-width);
  margin: 0 auto;
  padding: 0 20px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;

  margin: 0;
  padding: 0;
  padding-top: 32px;

  list-style-type: none;

  border-top: 1px solid rgb(var(--border-color));
}

@media (width < 768px) {
  .main {
    height: calc(100vh - 70px - 7vh);
    margin: 0;
    padding: 0;
  }
}
