.slider__item {
  position: relative;

  display: flex;

  width: 100%;
  margin: 3vh 0;

  transition: all 0.4s ease-in-out;
}

.slider__image {
  width: 50vw;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (width < 1024px) {
  .slider__image {
    width: 70vw;
  }
}

@media (width < 768px) {
  .slider__image {
    width: 100vh;

    /* height: 84vh; */
  }

  .slider__item {
    margin: 0;
  }
}
