.slider__item {
  display: flex;
  width: 100%;
  margin: 3vh 0;
  transition: transform 0.4s ease-in-out;
}

.slider__image {
  width: 50vw;
  min-height: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.slider__text {
  overflow: auto;
  display: flex;
  align-items: safe center;

  width: 30vw;
  height: 100%;
  margin: 0;
  padding: 0 32px;

  font-size: 3dvh;
  white-space: pre-wrap;
}

@media (width < 1024px) {
  .slider__item {
    transition: inherit;
  }

  .slider__image {
    width: 55vw;
  }

  .slider__text {
    width: 35vw;
    font-size: 2.3dvh;
  }
}

@media (width < 768px) {
  .slider__item {
    flex-direction: column;
    margin: 0;
  }

  .slider__image {
    width: 100vw;
    min-height: 150vw;
  }

  .slider__text {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
}
