.slider__item {
  position: relative;

  display: flex;

  width: 100%;
  margin: 3dvh 0;

  transition: transform 0.4s ease-in-out;
}

.slider__image {
  width: 50dvw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (width < 1024px) {
  .slider__image {
    width: 60dvw;
  }
}

@media (pointer: coarse), (width < 768px) {
  .slider__item {
    flex-direction: column;
    margin: 0;
  }

  .slider__image {
    width: 100dvw;
    min-height: calc(100dvh - 30px);
  }
}
