.slider__item {
  display: flex;
  width: 100%;
  margin: 3vh 0;
  transition: transform 0.4s ease-in-out;
}

.slider__image {
  width: 50vw;
  min-height: 150vw;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.image__text {
  margin: 0;
}

@media (width < 1024px) {
  .slider__item {
    transition: inherit;
  }
  
  .slider__image {
    width: 70vw;
  }

  .image__text {
    width: 100%;
  }
}

@media (width < 768px) {
  .slider__item {
    flex-direction: column;
    margin: 0;
  }

  .slider__image {
    width: 100vw;
  }

  .image__text {
    padding: 10px;
    font-size: 14px;
  }
}
