.slider__text_wrapper {
  display: flex;
  align-items: safe center;

  width: 30dvw;
  height: 100%;
  margin: 0;
}

.slider__button_text {
  display: none;
}

.slider__text {
  overflow: auto;
  display: flex;
  align-items: safe center;

  width: 30dvw;
  height: 100%;
  margin: 0;
  padding: 0 32px;

  font-size: 3dvh;
  white-space: pre-wrap;
}

@media (width < 1024px) {
  .slider__text_wrapper {
    width: 35dvw;
  }

  .slider__text {
    font-size: 2.3dvh;
  }
}

@media (width < 768px) {
  .slider__button_text {
    position: relative;

    display: block;

    width: 100%;
    height: 30px;

    background-color: transparent;
    border: none;
  }

  .slider__button_text::before,
  .slider__button_text::after {
    content: '';

    position: absolute;
    bottom: -15px;

    width: 2px;
    height: 62px;

    background-color: rgb(var(--color));

    transition: transform 0.4s ease-out;
  }

  .slider__button_text_disable::before {
    left: calc(50% - 30px);
    transform: rotate(75deg);
  }

  .slider__button_text_disable::after {
    right: calc(50% - 30px);
    transform: rotate(-75deg);
  }

  .slider__button_text_active::before {
    left: calc(50% - 30px);
    transform: rotate(105deg);
  }

  .slider__button_text_active::after {
    right: calc(50% - 30px);
    transform: rotate(-105deg);
  }

  .slider__text {
    position: relative;

    width: 100%;
    padding: 0 10px;

    font-size: 14px;
    color: rgb(var(--color));

    background-color: rgb(var(--background-color));

    transition: all 0.4s ease-out;
  }

  .slider__text_active {
    bottom: calc(100% + 30px);
    height: 100%;
    opacity: 0.8;
  }

  .slider__text_disable {
    bottom: 30px;
    height: 0;
    opacity: 0;
  }
}
