.app {
  position: relative;

  display: grid;
  grid-template:
    'sidebar header' min-content
    'sidebar main' 1fr / 20vw 80vw;

  width: 100%;
  min-height: 100vh;
}

@media (width < 1280px) {
  .app {
    grid-template:
      'sidebar header' min-content
      'sidebar main' 1fr / 1fr 975px;
  }
}

@media (width < 1160px) {
  .app {
    grid-template:
      'sidebar header' min-content
      'sidebar main' 1fr / calc(4vw + 3vh) 1fr;
  }
}

@media (width < 768px) {
  .app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
