.app {
  position: relative;

  display: grid;
  grid-template:
    'sidebar header' min-content
    'sidebar main' 1fr / 20dvw 80dvw;

  width: 100%;
  min-height: 100dvh;
}

@media (width < 1280px) {
  .app {
    grid-template:
      'sidebar header' min-content
      'sidebar main' 1fr / 1fr 975px;
  }
}

@media (width < 1160px) {
  .app {
    grid-template:
      'sidebar header' min-content
      'sidebar main' 1fr / 6dvw 1fr;
  }
}

@media (width < 768px) {
  .app {
    display: flex;
    flex-direction: column;
  }
}
