.header {
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: space-between;

  width: var(--main-width);
  height: 100%;
  margin: 0 auto;
  padding: 32px 20px;
}

.navigation {
  display: flex;
  gap: 32px;
  align-items: center;

  width: 100%;
  height: 150px;
}

.navigation__item {
  position: relative;

  width: 150px;
  height: 150px;

  background-color: rgb(var(--icons-color));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  border-radius: 50%;

  transition: transform 0.4s ease-in-out;
}

.navigation__item_flag {
  background-image: url('../../assets/icons/flag.png');
}

.navigation__item_flag:hover {
  transform: scale(0.9);
}

.navigation__item_flag:active {
  transform: scale(1);
}

.navigation__item_paw {
  background-image: url('../../assets/icons/paw.png');
}

.themes {
  cursor: pointer;

  width: 40px;
  height: 40px;

  background-image: url('../../assets/icons/moon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: transform 0.4s ease-in-out;
}

[data-theme='dark'] .themes {
  background-image: url('../../assets/icons/sun.svg');
}

.themes:hover {
  transform: scale(0.9);
}

.themes:active {
  transform: scale(1);
}

@media (width < 1024px) {
  .navigation {
    height: 100px;
  }

  .navigation__item {
    width: 100px;
    height: 100px;
  }
}

@media (width < 768px) {
  .header {
    margin: 0;
    padding: 10px;
  }

  .navigation {
    height: 50px;
  }

  .navigation__item {
    width: 50px;
    height: 50px;
  }
}
