.header {
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: space-between;

  width: var(--main-width);
  height: 100%;
  margin: 0 auto 9px;
  padding: 32px 20px;

  border-bottom: 1px solid rgb(var(--border-color));
}

.navigation {
  display: flex;
  gap: 32px;
  align-items: center;

  width: 100%;
  height: 10vw;
}

.navigation__item {
  position: relative;

  width: 10vw;
  height: 10vw;

  background-color: rgb(var(--icons-color));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  border-radius: 50%;

  transition: transform 0.4s ease-in-out;
}

.navigation__item_flag {
  background-image: url('../../assets/icons/flag.png');
}

.navigation__item_flag:hover {
  transform: scale(0.9);
}

.navigation__item_flag:active {
  transform: scale(1);
}

.navigation__item_paw {
  background-image: url('../../assets/icons/paw.png');
}

.themes {
  cursor: pointer;

  width: 8vw;
  height: 8vw;

  background-image: url('../../assets/icons/moon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: transform 0.4s ease-in-out;
}

[data-theme='dark'] .themes {
  background-image: url('../../assets/icons/sun.svg');
}

.themes:hover {
  transform: scale(0.9);
}

.themes:active {
  transform: scale(1);
}

@media (pointer: coarse), (width < 768px) {
  .header {
    margin: 0;
    padding: 10px;
    border: none;
  }

  .navigation {
    gap: 16px;
  }
}
