.header {
  display: flex;
  grid-area: header;
  align-items: center;
  justify-content: space-between;

  width: var(--main-width);
  height: 214px;
  margin: 0 auto;
  padding: 32px 20px;
}

.navigation {
  display: flex;
  gap: 32px;
  align-items: center;

  width: 100%;
  height: 150px;
}

.navigation__item {
  position: relative;

  width: 150px;
  height: 150px;

  background-color: rgb(var(--icons-color));
  border-radius: 50%;

  transition: transform 0.4s ease-in-out;
}

.navigation__item_flag:hover {
  transform: scale(0.9);
}

.navigation__item_flag:active {
  transform: scale(1);
}

.navigation__item_paw {
  background-image: url('../../assets/icons/paw_mini.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;
}

.themes {
  cursor: pointer;

  width: 40px;
  height: 40px;

  background-image: url('../../assets/icons/moon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: transform 0.4s ease-in-out;
}

[data-theme='dark'] .themes {
  background-image: url('../../assets/icons/sun.svg');
}

.themes:hover {
  transform: scale(0.9);
}

.themes:active {
  transform: scale(1);
}
