.sidebar {
  grid-area: sidebar;
  padding: 4vh 2vw;
  border-right: 1px solid rgb(var(--border-color));
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2vh;

  margin: 0;
  padding: 0;

  font-size: 1vw;
  list-style-type: none;
}

.item {
  cursor: pointer;

  display: flex;
  align-items: center;

  width: 100%;
  height: 3vh;
  padding-left: 3vw;

  background-repeat: no-repeat;
  background-position: left;
  background-size: 3vh;

  transition: transform 0.4s ease-in-out;
}

.item_active {
  cursor: initial;
  transform: translateX(16px);
}

.item:hover {
  transform: translateX(16px);
}

.item_home {
  background-image: url('../../assets/icons/home_dark.svg');
}

[data-theme='dark'] .item_home {
  background-image: url('../../assets/icons/home_light.svg');
}

.item_camp {
  background-image: url('../../assets/icons/camp_dark.svg');
}

[data-theme='dark'] .item_camp {
  background-image: url('../../assets/icons/camp_light.svg');
}

.item_deer {
  background-image: url('../../assets/icons/deer_dark.svg');
}

[data-theme='dark'] .item_deer {
  background-image: url('../../assets/icons/deer_light.svg');
}

@media (width < 1160px) {
  .sidebar {
    padding: 4vh 0;
  }

  .item {
    width: 3vh;
    height: 3vh;
    margin: 0 auto;
    padding: 0;
  }

  .item span {
    display: none;
  }
}

@media (width < 768px) {
  .sidebar {
    height: 20px;
    margin-top: 9px;
    padding: 10px;

    border-top: 1px solid rgb(var(--border-color));
    border-right: none;
  }

  .list {
    flex-direction: row;
    justify-content: center;
  }

  .item {
    margin: 0;
  }

  .item_active {
    transform: translateY(6px);
  }

  .item:hover {
    transform: translateY(6px);
  }
}
