.sidebar {
  grid-area: sidebar;
  padding: 4vh 2vw;
  border-right: 1px solid rgb(var(--border-color));
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2vh;

  margin: 0;
  padding: 0;

  font-size: 1vw;
  list-style-type: none;
}

.item {
  cursor: pointer;

  display: flex;
  align-items: center;

  width: 100%;
  height: 3vh;
  padding-left: 3vw;

  background-repeat: no-repeat;
  background-position: left;
  background-size: 3vh;

  transition: all 0.4s ease-in-out;
}

.item_active {
  cursor: initial;
  color: rgb(255 0 0 / 90%);
}

.item:hover {
  transform: translateX(16px);
}

.item_active:hover {
  transform: translateX(0);
}

.item__image {
  width: 20px;
  height: 20px;
}

.item span {
  margin-left: 10px;
}

@media (width < 1160px) {
  .sidebar {
    padding: 4vh 0;
  }

  .item {
    width: 3vh;
    height: 3vh;
    margin: 0 auto;
    padding: 0;
  }

  .item span {
    display: none;
  }
}

@media (width < 768px) {
  .sidebar {
    padding: 10px;
    border: none;
  }

  .list {
    flex-direction: row;
    justify-content: center;
  }

  .item {
    margin: 0;
  }

  .item:hover {
    transform: none;
  }
}
