.sidebar {
  grid-area: sidebar;
  padding: 4dvh 2dvw;
  border-right: 1px solid rgb(var(--border-color));
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2dvh;

  margin: 0;
  padding: 0;

  font-size: 1dvw;
  list-style-type: none;
}

.item {
  cursor: pointer;

  display: flex;
  align-items: center;

  width: 100%;
  height: 3dvh;
  padding-left: 3dvw;

  background-repeat: no-repeat;
  background-position: left;
  background-size: 3dvh;

  transition: all 0.4s ease-in-out;
}

.item_active {
  cursor: initial;
  color: rgb(var(--active-color));
}

.item:hover {
  transform: translateX(16px);
}

.item_active:hover {
  transform: translateX(0);
}

.item__image {
  min-width: 20px;
  height: 20px;
}

.item span {
  margin-left: 10px;
  white-space: pre-wrap;
}

@media (width < 1160px) {
  .sidebar {
    padding: 4dvh 0;
  }

  .item {
    justify-content: center;

    width: 4dvw;
    height: 4dvw;
    margin: 0 auto;
    padding: 0;
  }

  .item__image {
    height: 100%;
  }

  .item span {
    display: none;
  }
}

@media (width < 768px) {
  .sidebar {
    padding: 10px;
    border: none;
  }

  .list {
    flex-direction: row;
    justify-content: center;
  }

  .item {
    margin: 0;
  }

  .item:hover {
    transform: none;
  }
}
