:root {
  --main-width: 975px;

  /* light theme tokens */
  --background-color-light: 255 255 255;
  --color-dark: 36 36 36;
  --border-color-dark: 211 211 211;
  --icons-color-dark: 255 255 255;

  /* dark theme tokens */
  --background-color-dark: 36 36 36;
  --color-light: 255 255 255;
  --border-color-light: 100 100 100;
  --icons-color-light: 211 211 211;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.25;
  text-rendering: optimizelegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
}

* {
  box-sizing: border-box;
}

[data-theme='light'] {
  --background-color: var(--background-color-light);
  --color: var(--color-dark);
  --border-color: var(--border-color-dark);
  --icons-color: var(--icons-color-light);
}

[data-theme='dark'] {
  --background-color: var(--background-color-dark);
  --color: var(--color-light);
  --border-color: var(--border-color-light);
  --icons-color: var(--icons-color-dark);
}

body {
  min-width: 320px;
  height: 100dvh;
  margin: 0;

  color: rgb(var(--color));

  background-color: rgb(var(--background-color));
}

@media (width < 1024px) {
  :root {
    --main-width: 600px;
  }
}

@media (width < 768px) {
  :root {
    --main-width: 100vw;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}
