.slider__wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(var(--background-color));
}

.button {
  cursor: pointer;

  position: relative;

  width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0 0 10px rgb(0 0 0 / 10%));
  border: none;

  transition: all 0.4s ease-in-out;
}

.button__close {
  position: absolute;
  z-index: 1;
  top: 1vw;
  right: 1vw;
}

.button__close:hover {
  transform: scale(1.2);
}

.button__close::before,
.button__close::after {
  content: '';

  position: absolute;
  left: 16px;

  width: 2px;
  height: 33px;

  background-color: rgb(var(--color));
}

.button__close::before {
  transform: rotate(45deg);
}

.button__close::after {
  transform: rotate(-45deg);
}

.button__left,
.button__right {
  position: absolute;
  top: calc(50% - 20px);
  background-image: url('../../assets/icons/arrow_dark.png');
  border-radius: 50%;
}

.button__left {
  left: calc(5vw - 40px);
}

.button__right {
  left: 45vw;
  transform: rotate(180deg);
}

[data-theme='dark'] .button__left,
[data-theme='dark'] .button__right {
  background-image: url('../../assets/icons/arrow_light.png');
}

.button__left:hover,
.button__right:hover {
  opacity: 0.8;
  filter: drop-shadow(0 0 10px rgb(0 0 0 / 50%));
}

.slider {
  overflow: hidden;
  display: flex;
  align-items: center;

  width: 80%;
  height: 100vh;
  margin: 0 auto;

  background-color: rgb(var(--background-color));
}

.slider__list {
  position: relative;

  overflow: hidden;
  display: flex;

  width: 50vw;
  height: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.image__text_wrapper {
  width: 30vw;
  padding: 32px;
}

.image__text_wrapper p {
  margin: 0;
}

@media (width < 1024px) {
  .slider {
    flex-direction: column;
    width: 70%;
  }

  .slider__list,
  .image__text_wrapper {
    width: 100%;
  }

  .button__left {
    left: 4vw;
  }

  .button__right {
    left: 62vw;
  }
}

@media (width < 768px) {
  .slider {
    overflow-y: scroll;
    width: 100vw;
    height: 100%;
  }

  .button__left {
    left: 5vw;
    width: 30px;
    height: 30px;
  }

  .button__right {
    left: 87vw;
    width: 30px;
    height: 30px;
  }

  .image__text_wrapper {
    height: 0;
    padding: 10px;
    font-size: 14px;
  }
}
